nav,
.nav {
    color: purple;
    background-color:lightyellow
}

main,
.main {
    background-color: lightblue;
}

.banner {
    width: 100%;
    height: auto;
}

footer,
.footer {
    background-color: lightyellow;
    color: purple;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
#transitionHeader
{
    background: linear-gradient(lightyellow, lightblue);
}
#transitionFooter
{
    background: linear-gradient(lightblue, lightyellow);
}